@model EduS_MVC.Models.RegisterModel

@{
    ViewBag.Title = "Register";

    var roleItems = Roles.GetAllRoles().Select(role => new SelectListItem
    {
        Text = role
    });
    
    EduS_MVC.Controllers.FacultyController fc = new EduS_MVC.Controllers.FacultyController();
    var faculties = fc.GetFacultiesList();
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Role)
                @Html.DropDownListFor(m => m.Role, roleItems)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.FacultyId)
                @Html.DropDownListFor(m => m.FacultyId, faculties)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone)
            </li>
            <li>
                @Html.LabelFor(m => m.BirthDate)
                @Html.TextBoxFor(model => model.BirthDate, new { type = "date" })
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.DegreeBefore)
                @Html.TextBoxFor(m => m.DegreeBefore)
            </li>
            <li>
                @Html.LabelFor(m => m.DegreeAfter)
                @Html.TextBoxFor(m => m.DegreeAfter)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}