@model EduS_MVC.Models.IndividualModel


@{
    ViewBag.Title = "Create";

    EduS_MVC.Controllers.FacultyController fc = new EduS_MVC.Controllers.FacultyController();
    var faculties = fc.GetFacultiesList();
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create new schedule</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Schedule</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
                @Html.LabelFor(m => m.StartDate)
                @Html.TextBoxFor(m => m.StartDate)
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate)
                @Html.LabelFor(m => m.FacultyId)
                @Html.DropDownListFor(m => m.FacultyId, faculties)
                @Html.LabelFor(m => m.Capacity)
                @Html.TextBoxFor(m => m.Capacity)
            </li>
        </ol>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Schedule", "Schedule")
</div>


