@model EduS_MVC.Models.EventModel

@{
    ViewBag.Title = "Create";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new event for harmonogram.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Harmonogram</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </li>
        </ol>
        <p>
            <input type="submit" value="Create" />
        </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Harmonogram")
</div>
