@model EduS_MVC.Models.HarmonogramModel

<table>
    <tr>
        <th>@Html.LabelFor(m => m.Harmonogram)</th>
    </tr>
    <tr>
        @if (Model.Harmonogram.Count > 0)
        {
            <td>
                @Html.LabelFor(m => m.Harmonogram[0].Name)
            </td>
            <td>
                @Html.LabelFor(m => m.Harmonogram[0].Description)
            </td>
        }
    </tr>

    @for (int i = 0; i < Model.Harmonogram.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => m.Harmonogram[i].Name)
            </td>
            <td>
                @Html.DisplayFor(m => m.Harmonogram[i].Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Harmonogram[i].EventId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = Model.Harmonogram[i].EventId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", "Harmonogram")
</p>

